<p>Your cape protects you from the nettles.
After a while you spot the bone flowers and fly low to collect their nector. Unfortunately there is a fine network of gossamer covering the flowers.
You get stuck and a spider wraps you in a cocoon.</p>
<div id= "options"><a href="/flower_escape">Continue</a></div>