<h1>You got an ember stone!</h1>
<p>Turns out the toad tried to eat what it thought was a beetle, but was actually an ember stone belonging to a spring fairy.
Ember stones are used by the fairies to warm the earth so plants can grow.</p>
<p>The toad suggests you keep the stone for protection since you are headed for the dangerous gossamer.</p>
<div id= "options"><a href="/mother_squirrel">Continue</a></div>