<h1>You got a silver skin cape!</h1>
<p>You sweep up slick, tough silver skin that's fallen off the ripe mozzle berries of the mozzle tree where Mother Squirrel lives.</p>
<p>As thanks, Mother Squirrel uses the silver skin to make a cape for you.
She says it will protect you from the sharp nettles that shower over the gossamer.</p>
<div id= "options"><a href="/nettles">Continue</a></div>