<p>At the end of the goassamer, Mother Squirrel asks for your help cleaning her small home.
She tells you that her husdand passed in the harsh winter and her children have moved far away. This is the first time she has to do the spring cleaning alone.</p>
<div id="question">
    Time is running short, <%=session[:name]%>. What will you choose to do?
</div>
<div id= "options"><a href="/help_squirrel">Help clean</a>
<a href="/nettles">Tell her you don't have the time</a></div>
