<h1><%=session[:name]%>, you won!</h1>
<p>You use the ember stone to burn through the cocoon and free yourself.
Quickly collecting nector, you fly home to save your parents.</p>
<h2>Way to go!!!!</h2>
<div id= "options"><a href="/start">Start over</a></div>