<h1>Oh no, <%=session[:name]%>! You died!</h1>
<p>You free yourself from the cocoon by burning through it with the ember stone.
However you can't fly anymore. The ground is covered in nettles. They tear you to pieces.</p>
<div id= "options"><a href="/start">Start over</a></div>