<p>You make your way smoothly through the gossamer at first, flying to avoid the densely webbed areas.
Then the wind picks up, throwing round, spiky balls called nettles at you.</p>
<div id= "options"><a href="/fly">Continue</a></div>