<h1>You died, <%=session[:name]%>!</h1>
<p>You sturggle to get free, but it's no use. As the sun sets the spider skitters closer.
Unable to wait any longer, it devours you.</p>
<div id= "options"><a href="/start">Start over</a></div>