<p>You are now a flutterkin named <%=session[:name]%>.</p>
<p>Your parents are very sick and need a rare medicine produced by bone flowers. Unfortunately bone flowers only grow in the gossamer (a pretty name for what amounts to a deadly maze of spider webs).</p>
<div id="question">
    So, <%=session[:name]%>, what will you do?
</div>
<div id= "options"><a href="/toad">Go get the medicine</a>
<a href="/stay">Stay and hope for the best</a></div>