<p>Sorry <%=session[:name]%>, your parents have succumbed to their sickness. You prepare a lovely funeral service and wonder if things could have gone differently.</p>
<div id= "options"><a href="/start">Go back</a></div>