<p>While traveling you come across a toad that's choking on something.</p>
<p>It looks pretty scary, especially since toads eat your kind.</p>
<div id="question">
    It's up to you, <%=session[:name]%>. Take the risk? Or leave?
</div>
<div id= "options"><a href="/help_toad">Help the toad</a>
<a href="/mother_squirrel">Ignore the toad</a></div>