<p>The nettles shred your wings, causing you to fall into a web.
Quickly a spider wraps you in a cocoon. Then it scampers off to wait for more food.</p>
<div id= "options"><a href="escape">Continue</a></div>