<h1>Welcome to Gossamer</h1>
<p>Please enter your first name to customize your experience</p>
<form action="/start" method="post">
    <input type="text" name="name">
    <input type="submit" value="Start">
</form>